{% extends 'shared/_MainLayout.html' %}

{% block content %}
{% for student in studnt_term %}
    نام دانشجو:{{student.student.first_name}} <br><br>
    نام خانوادگی دانشجو:{{student.student.last_name}} <br><br>

    ترم:{{student.term.name}} <br><br>

    تاریخ واریز:{{student.date_of_payment}} <br><br> 
    مبلغ کل:{{student.total}} <br><br> 
    مبلغ واریز:{{student.price}} <br><br> 
    حساب:{{student.account}} <br><br> 
    کد پیگیری:{{student.code}} <br><br> 
    <hr>
{% endfor %}
{% endblock content %}