{% extends 'shared/_MainLayout.html' %}

{% block content %}
    کد ملی:{{student.nat_code}} <br><br>
    نام دانشجو:{{student.first_name}} <br><br>
    نام خانوادگی دانشجو:{{student.last_name}} <br><br>
    تاریخ تولد دانشجو:{{student.birthday_date}} <br><br>
    شماره تلفن ثابت:{{student.telephone}} <br><br>
    شماره تلفن همراه:{{student.mobile}} <br><br>
    ایمیل دانشجو:{{student.email}} <br><br>
    نمره دانشجو:{{student.score}} <br><br>
    تاریخ ثبت دانشجو:{{student.regdate}} <br><br>
    توضیحات:{{student.description}} <br><br>
{% endblock content %}