{% load static %}

<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> 80 21 24 36 98+ </a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <!-- <div class="col-sm-4 header-middle-menu">
                    <div class="shop-menu pull-left">
                        <ul class="nav navbar-nav">
                            <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> پرداخت</a></li>
                        </ul>
                    </div>
                </div> -->

                <div class="col-sm-4" style="text-align: left;">
                    <div class="logo">
                    </div>
                </div>

                <div class="col-sm-8 header-middle-menu">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            {% comment %} <li><a href="#"><i class="fa fa-star"></i> دانشجویان</a></li> {% endcomment %}
                            <li><a href="/show/student/"><i class="fa fa-star"></i> لیست دانشجویان</a></li>
                            <li><a href="/show/student/payment_history"><i class="fa fa-star"></i>تاریخچه پرداخت دانشجویان</a></li>
                            <li><a href="/show/student/education_history"><i class="fa fa-star"></i>تاریخچه تحصیلی دانشجویان</a></li>
                            <li><a href="/register/student/"><i class="fa fa-star"></i>ثبت دانشجو</a></li>
                            <li><a href="/register/student/student_term"><i class="fa fa-star"></i>ثبت ترم برای دانشجو</a></li>
                            <li><a href="/register/student/payment"><i class="fa fa-star"></i>ثبت واریز وجه برای دانشجو</a></li>
                        </ul>
                    </div>
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/show/teacher/"><i class="fa fa-star"></i>نمایش اساتید</a></li>
                            <li><a href="/register/teacher/"><i class="fa fa-star"></i>ثبت استاد</a></li>
                            <li><a href="/register/teacher/teacher_term"><i class="fa fa-star"></i>ثبت ترم برای استاد</a></li>
                            <li><a href="/register/teacher/payment"><i class="fa fa-star"></i>ثبت انتقال وجه برای استاد</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">

                <div class="col-sm-3">
                    <div class="search_box pull-left">
                        {% comment %} <input type="text" placeholder="جستـجو"/> {% endcomment %}
                        <form action="/show/student/search" method="get">
                            <input type="text" placeholder="جستـجو" value="{{ request.GET.q }}" name="q" />
                        </form>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->